services:
  db:
    image: mysql:5.7
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: my_test_database
      MYSQL_DATABASE: test_technique
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypass
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql

  php:
    build:
      dockerfile: dockerfile
    container_name: php8
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html/
    depends_on:
      - db

  phpmya:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 8899:80
